/* 	CSS Document */

img, video, object {
    max-width: 100%;
}

body {
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

p {
    margin-left: 20px;
    margin-bottom: 20px;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}
#box1 {
    background-color: pink;
    height: 300px;
}
#box2 {
    background-color: red;
    height: 300px;
}

#box3 {
    display: none;
}

#box4 {
    display: none;
}

@media screen and (min-width: 641px) {
    #column-con {
        display: flex;
        flex-direction: row;
    }

    #box1 {
        background-color: blue;
        width: 30%;
    }

    #box2 {
        background-color: purple;
        width: 30%;
    }

    #box3 {
        background-color: gray;
        display: block;
        width: 30%;
    }

    #box4 {
        background-color: brown;
        display: block;
        width: 30%;
    }
}